**Исполнитель - Климентьева Наталья**

In [1]:
import pandas as pd                                               # Импортируем необходимые библиотеки
import sqlite3
from sqlite3 import Error
import numpy as np


def create_connection(path):                                      # Создадим функцию для подключения к базе данных     
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [2]:
connection12 = create_connection("logs_2022-09-12.db")            # Передадим в функцию файлы .db формата
connection13 = create_connection("logs_2022-09-13.db")
connection14 = create_connection("logs_2022-09-14.db")

Connection to SQLite DB successful
Connection to SQLite DB successful
Connection to SQLite DB successful

In [3]:
cursor12 = connection12.cursor()                                   # Создадим объекты с помощью метода .cursor()
cursor13 = connection13.cursor()
cursor14 = connection14.cursor()

In [4]:
cursor12.execute("SELECT * FROM event_name")                       # Сделаем запросы в базу данных для извлечения таблицы с 
cursor13.execute("SELECT * FROM event_name")                       # наименованием событий
cursor14.execute("SELECT * FROM event_name")

In [5]:
results12 = cursor12.fetchall()                                    # Извлечем все оставшиеся строки результирующего набора
#results13 = cursor13.fetchall()
#results14 = cursor14.fetchall()

In [6]:
results12 = pd.DataFrame(results12)                                # Создадим объект DataFrame                            
#results13 = pd.DataFrame(results13)
#results14 = pd.DataFrame(results14)

In [7]:
results12.columns = ['event_id','event_name']                      # Переименуем столбцы
pd.options.display.max_colwidth = 130
results12                                                          # Выведем таблицу с наименованиями событий на экран

    event_id                                                 event_name
0          1                             Инициализируем свойства класса
1          2                Переход в функцию getParametrsAndRegressors
2          3   Выход из функции getParametrsAndRegressors с параметрами
3          4  Выход из функции getParametrsAndRegressors БЕЗ параметров
4          5     Записали в свойства класса гиперпараметры и регрессоры
5          6    Начинаем читать данные из BQ по полученному SQL запросу
6          7           Получили данные из BQ по полученному SQL запросу
7          8                        saveForecastRequest: вход в функцию
8          9                      saveForecastRequest: выход из функции
9         10                                     getDOW: вход в функцию
10        11                                   getDOW: выход из функции
11        12                                 getCutoffs: вход в функцию
12        13                               getCutoffs: выход из функции
13        14                               get_forecast: вход в функцию
14        15                             get_forecast: выход из функции
15        16                       updateForecastAnswer: вход в функцию
16        17                     updateForecastAnswer: выход из функции
17        18                              Инициализируем модель Prophet
18        19                         Обучаем модель на имеющихся данных
19        20                          Выполняем прогноз временного ряда
20        21                        get_error_for_model: вход в функцию
21        22                      get_error_for_model: выход из функции
22        23                          saveForecastToCSV: вход в функцию
23        24                        saveForecastToCSV: выход из функции
24        25                    getAdditionalRegressors: вход в функцию
25        26                  getAdditionalRegressors: выход из функции
26        27               getForecastMarkerAsRegressor: вход в функцию
27        28             getForecastMarkerAsRegressor: выход из функции
28        29              Начинаем получать гипермараметры и регрессоры
29        30                    Пустой набор данных для прогнозирования
30        31                                     JSON отправлен обратно
31        32              get_error_for_model: импортировали библиотеки
32        33               get_error_for_model: прошли cross_validation
33        34          get_error_for_model: получили performance_metrics

In [8]:
cursor12.execute("SELECT * FROM events")                        # Сделаем запросы в базу данных для извлечения таблицы с
cursor13.execute("SELECT * FROM events")                        # логами событий за 3 дня
cursor14.execute("SELECT * FROM events")

events12 = cursor12.fetchall()
events13 = cursor13.fetchall()
events14 = cursor14.fetchall()

In [9]:
events_12 = pd.DataFrame(events12)                              # Создадим объекты DataFrame                         
events_13 = pd.DataFrame(events13)
events_14 = pd.DataFrame(events14)

In [10]:
cursor12.close()
cursor13.close()
cursor14.close()

In [11]:
events = events_12.append(events_13, ignore_index=True)         # Объединим 3 таблицы трех дней с логами событий в одну таблицу
events = events.append(events_14, ignore_index=True)

In [12]:
events.columns = ['id','forecast_marker','request_time','event_id','sender','context','session_id']        # переименуем столбцы

In [13]:
events

,id,forecast_marker,request_time,event_id,sender,context,session_id
0,1,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,"df = <class 'NoneType'>, sql_query = <class 'NoneType'>",6f4277f6df57c4f4e90779966522c876
1,2,SelfService/RUS/turnover,2022-09-12 11:30:11.111359,29,test_system,None,6f4277f6df57c4f4e90779966522c876
2,3,SelfService/RUS/turnover,2022-09-12 11:30:11.115989,2,test_system,None,6f4277f6df57c4f4e90779966522c876
3,4,SelfService/RUS/turnover,2022-09-12 11:30:12.761754,3,test_system,Найдено 1 строк с параметрами,6f4277f6df57c4f4e90779966522c876
4,5,SelfService/RUS/turnover,2022-09-12 11:30:12.770134,5,test_system,None,6f4277f6df57c4f4e90779966522c876
...,...,...,...,...,...,...,...
44726,11245,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.582138,24,weekly_report.ss,None,7caa7e3d9378310a86ce7e20fc58b561
44727,11246,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.588185,15,weekly_report.ss,None,7caa7e3d9378310a86ce7e20fc58b561
44728,11247,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.594110,16,weekly_report.ss,None,7caa7e3d9378310a86ce7e20fc58b561
44729,11248,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.601623,17,weekly_report.ss,None,7caa7e3d9378310a86ce7e20fc58b561
44730,11249,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.609898,31,weekly_report.ss,"Отдан датафрейм: (1352, 4)",7caa7e3d9378310a86ce7e20fc58b561

In [14]:
my_list = [events_12, events_13, events_14, events]
table_names = ["events_12", "events_13", "events_14", "events"]

for index, name in zip(range(len(my_list)), table_names):
    print('Количество строк в таблице', name, 'равно', len(my_list[index]))
    
print('Сумма строк необъединенных таблиц равна', len(events_12) + len(events_13) + len(events_14))

Количество строк в таблице events_12 равно 11207
Количество строк в таблице events_13 равно 22275
Количество строк в таблице events_14 равно 11249
Количество строк в таблице events равно 44731
Сумма строк необъединенных таблиц равна 44731

Мы получили объедининенную таблицу логов событий за три дня - 12,13 и 14 сентября 2022 года.

Напомним содержание столбцов:

* ``id`` - идентификатор конкретного факта наступления события
* ``forecast_marker`` - идентификатор задачи прогнозирования (так мы называем общую задачу прогноза конкретного бизнес-показателя. Есть отдельная таблица, где хранятся свойства задач прогнозирования (источники данных, гиперпараметры, регрессоры и т.д.), (необязательное поле)
* ``request_time`` - время когда зафиксировано событие
* ``event_id`` - идентификатор события
* ``sender`` - Имя системы поставившей задачу прогнозирования (необязательное поле)
* ``context`` - значения переменных или каких-либо параметров, связанных с событием (необязательно поле)
* ``session_id`` - идентификатор исполнения конкретной задачи прогнозирования (используется если задача пришла без forecast_marker и sender)

In [15]:
events = events.merge(results12)                             # добавим наименование событий в общую таблицу методом merge

In [16]:
for i in ('forecast_marker', 'sender', 'context'):           # выявим пропущеные значения, заменим специальным значением
    events.loc[events[i] == "None", i] = np.nan              # из библиотеки Numpy

In [17]:
events.head()

,id,forecast_marker,request_time,event_id,sender,context,session_id,event_name
0,1,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,"df = <class 'NoneType'>, sql_query = <class 'NoneType'>",6f4277f6df57c4f4e90779966522c876,Инициализируем свойства класса
1,14,SelfService/RUS/activation,2022-09-12 11:30:18.666983,1,"internal_call for SelfService/RUS/turnover, session_id: 6f4277f6df57c4f4e90779966522c876","df = <class 'NoneType'>, sql_query = <class 'NoneType'>",ba9c7ee046c9fbdc0c8713c86409bdc3,Инициализируем свойства класса
2,62,NaN,2022-09-12 12:13:46.808490,1,bq_analytics_tables_refresh,"df = <class 'NoneType'>, sql_query = <class 'str'>",f425376c334840a59b585165f9ca87dc,Инициализируем свойства класса
3,90,NaN,2022-09-12 12:14:04.816840,1,bq_analytics_tables_refresh,"df = <class 'NoneType'>, sql_query = <class 'str'>",58e407a7bc512bc4b282457c05893ebc,Инициализируем свойства класса
4,119,NaN,2022-09-12 12:14:19.332540,1,bq_analytics_tables_refresh,"df = <class 'NoneType'>, sql_query = <class 'str'>",7c25b8a1058e6c036c443b8cd6dd8c69,Инициализируем свойства класса

In [18]:
events.isna().sum()                                           # Посчитаем число пропущенных значений в каждом столбце

id                     0
forecast_marker     4139
request_time           0
event_id               0
sender               424
context            38575
session_id             0
event_name             0
dtype: int64

In [19]:
events.drop(columns = ['id'], axis = 1).duplicated().sum()     # посчитаем количество явных дубликатов в таблице

0

Мы выявили пропущенные значения, теперь изучим типы данных, и приведем к нужным при необходимости. Дубликатов не выявлено.

In [20]:
events.info()                                                  # изучим структуру данных, обратим внимание на типы данных

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44731 entries, 0 to 44730
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               44731 non-null  int64
 1   forecast_marker  40592 non-null  object
 2   request_time     44731 non-null  object
 3   event_id         44731 non-null  int64
 4   sender           44307 non-null  object
 5   context          6156 non-null   object
 6   session_id       44731 non-null  object
 7   event_name       44731 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.1+ MB

In [21]:
from datetime import datetime, timedelta                    # импортируем дополнительно библиотеки для работы с датой и временем
import warnings
warnings.filterwarnings("ignore")

## Необходимо ответить на вопросы

1. Между какими событиями наибольший шаг? Укажите пару идентификаторов событий с наибольшим шагом, относительно всей базы (всех файлов).
2. Интервал времени до наступления какого события показывает наибольший разброс. Укажите пару идентификатор и sender с наибольшим разбросом. Предложите свои идей, с чем это может быть связано.
3. Какая задача прогнозирования выполняется дольше всего (название задачи)?
4. Какое количество задач прогнозирования могут выполняться одновременно? Укажите максимальное число параллельных задач.
5. Перечислите forecastMarker которые не завершились успешно

Важно отметить:
1. Первое событие для каждой сессии имеет идентификатор 1. Идентификаторы последующих событий не соответствуют последовательности наступления.
2. Шаг событий - это интервал времени между событиями наступающими друг за другом.
3. Задача прогнозирования считается завершенной успешно, если наступило событие с идентификатором 31.
4. Некоторые задачи прогнозирования могут использовать прогнозы по типу рекурсии. Т.е. при построении прогноза запрашивать прогноз другого параметра, как регрессора. Например при построении прогноза активаций пользователей запрашивается подпрогноз с количеством регистраций. Т.к. регистрации напрямую влияют на количество активаций.

### Вопрос 1.

Между какими событиями наибольший шаг? Укажите пару идентификаторов событий с наибольшим шагом, относительно всей базы (всех файлов).

In [22]:
events = events.sort_values(by='request_time').reset_index(drop=True)    # отсортируем датафрейм по времени наступления события

In [23]:
first = True                                                  # создадим столбец 'previous_time' с датой предшествующего события
for i in events.index:
    if first:
        first = False
        events.loc[i, 'previous_time'] = np.nan
    else:
        events.loc[i, 'previous_time'] = events.loc[i_prev, 'request_time']
    i_prev = i

In [24]:
events['request_time'] = pd.to_datetime(events['request_time'], format='%Y-%m-%d %H:%M:%S', errors='ignore') # формат дата-время
events['previous_time'] = pd.to_datetime(events['previous_time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')

In [25]:
events.info()                                                                      # проверим правильность изменения типа данных

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44731 entries, 0 to 44730
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               44731 non-null  int64
 1   forecast_marker  40592 non-null  object
 2   request_time     44731 non-null  datetime64[ns]
 3   event_id         44731 non-null  int64
 4   sender           44307 non-null  object
 5   context          6156 non-null   object
 6   session_id       44731 non-null  object
 7   event_name       44731 non-null  object
 8   previous_time    44730 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(5)
memory usage: 3.1+ MB

In [26]:
events['time_differens'] = events['request_time'] - events['previous_time']    # найдем шаг времени от предшествующего события

In [27]:
index = events[events['time_differens']==events['time_differens'].max()].index
index_prev = events[events['time_differens']==events['time_differens'].max()].index-1
events.loc[[int(''.join(map(str, index_prev.to_list()))), int(''.join(map(str, index.to_list())))]]

,id,forecast_marker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens
33481,22275,weekly_report.SS:no_segment_users,2022-09-13 09:41:15.078643,31,test.weekly_report.ss,"Отдан датафрейм: (895, 4)",d637d1b6d2b70fd088e2ea44959483cb,JSON отправлен обратно,2022-09-13 09:41:15.071837,0 days 00:00:00.006806
33482,1,NaN,2022-09-14 00:09:39.234361,1,NaN,"df = <class 'pandas.core.frame.DataFrame'>, sql_query = <class 'NoneType'>",ec6a82e4a1b9b4dc467639eb1a5d6987,Инициализируем свойства класса,2022-09-13 09:41:15.078643,0 days 14:28:24.155718

### Ответ:

между событиями с идентификаторами 31 и 1 наибольший шаг, равный 14 часов 28 минут и 24 секунды.

### Исправление после ревью.

Найдем наибольший шаг между событиями в рамках одной сессии.

In [28]:
events['previous_time'] = events.groupby('session_id')['request_time'].shift() # столбццец с датой предшествующего события
                                                                               # в рамках одной сессии

In [29]:
events.query('forecast_marker == "weekly_report.SS:new_users_90d:tiktok"')     # проверим вравильность работы кода

,id,forecast_marker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens
24382,13176,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:48.768621,1,weekly_report.ss,"df = <class 'NoneType'>, sql_query = <class 'NoneType'>",818f5eeb5f0a8291e5d889efa461bc4b,Инициализируем свойства класса,NaT,0 days 00:00:00.494875
24383,13177,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:48.775803,29,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,Начинаем получать гипермараметры и регрессоры,2022-09-13 07:44:48.768621,0 days 00:00:00.007182
24384,13178,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:48.784007,2,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,Переход в функцию getParametrsAndRegressors,2022-09-13 07:44:48.775803,0 days 00:00:00.008204
24385,13179,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:50.598380,3,weekly_report.ss,Найдено 1 строк с параметрами,818f5eeb5f0a8291e5d889efa461bc4b,Выход из функции getParametrsAndRegressors с параметрами,2022-09-13 07:44:48.784007,0 days 00:00:01.814373
24386,13180,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:50.606193,5,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,Записали в свойства класса гиперпараметры и регрессоры,2022-09-13 07:44:50.598380,0 days 00:00:00.007813
24387,13181,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:50.613034,6,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,Начинаем читать данные из BQ по полученному SQL запросу,2022-09-13 07:44:50.606193,0 days 00:00:00.006841
24388,13182,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:53.089626,7,weekly_report.ss,"Получили из BQ набор данных размером: (986, 2)",818f5eeb5f0a8291e5d889efa461bc4b,Получили данные из BQ по полученному SQL запросу,2022-09-13 07:44:50.613034,0 days 00:00:02.476592
24389,13183,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:53.096776,8,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,saveForecastRequest: вход в функцию,2022-09-13 07:44:53.089626,0 days 00:00:00.007150
24390,13184,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:53.105981,9,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,saveForecastRequest: выход из функции,2022-09-13 07:44:53.096776,0 days 00:00:00.009205
24391,13185,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:53.118707,10,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,getDOW: вход в функцию,2022-09-13 07:44:53.105981,0 days 00:00:00.012726
24392,13186,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:54.749007,25,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,getAdditionalRegressors: вход в функцию,2022-09-13 07:44:53.118707,0 days 00:00:01.630300
24393,13187,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:54.781782,26,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,getAdditionalRegressors: выход из функции,2022-09-13 07:44:54.749007,0 days 00:00:00.032775
24394,13188,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:54.787724,27,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,getForecastMarkerAsRegressor: вход в функцию,2022-09-13 07:44:54.781782,0 days 00:00:00.005942
24395,13189,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:54.794884,11,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,getDOW: выход из функции,2022-09-13 07:44:54.787724,0 days 00:00:00.007160
24396,13190,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:54.801034,12,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,getCutoffs: вход в функцию,2022-09-13 07:44:54.794884,0 days 00:00:00.006150
24397,13191,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:54.807792,13,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,getCutoffs: выход из функции,2022-09-13 07:44:54.801034,0 days 00:00:00.006758
24398,13192,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:54.813751,14,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,get_forecast: вход в функцию,2022-09-13 07:44:54.807792,0 days 00:00:00.005959
24399,13193,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:54.822630,18,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,Инициализируем модель Prophet,2022-09-13 07:44:54.813751,0 days 00:00:00.008879
24400,13194,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:54.892529,19,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,Обучаем модель на имеющихся данных,2022-09-13 07:44:54.822630,0 days 00:00:00.069899
24401,13195,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:55.123119,20,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,Выполняем прогноз временного ряда,2022-09-13 07:44:54.892529,0 days 00:00:00.230590
24402,13196,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:58.197882,21,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,get_error_for_model: вход в функцию,2022-09-13 07:44:55.123119,0 days 00:00:03.074763
24403,13197,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:58.207250,32,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,get_error_for_model: импортировали библиотеки,2022-09-13 07:44:58.197882,0 days 00:00:00.009368
24404,13198,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:59.948194,34,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,get_error_for_model: получили performance_metrics,2022-09-13 07:44:58.207250,0 days 00:00:01.740944
24405,13199,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:59.956752,22,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,get_error_for_model: выход из функции,2022-09-13 07:44:59.948194,0 days 00:00:00.008558
24406,13200,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:59.962786,22,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,get_error_for_model: выход из функции,2022-09-13 07:44:59.956752,0 days 00:00:00.006034
24407,13201,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:44:59.967153,23,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,saveForecastToCSV: вход в функцию,2022-09-13 07:44:59.962786,0 days 00:00:00.004367
24408,13202,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:45:00.020555,24,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,saveForecastToCSV: выход из функции,2022-09-13 07:44:59.967153,0 days 00:00:00.053402
24409,13203,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:45:00.062484,15,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,get_forecast: выход из функции,2022-09-13 07:45:00.020555,0 days 00:00:00.041929
24410,13204,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:45:00.085556,16,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,updateForecastAnswer: вход в функцию,2022-09-13 07:45:00.062484,0 days 00:00:00.023072
24411,13205,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:45:00.102026,17,weekly_report.ss,NaN,818f5eeb5f0a8291e5d889efa461bc4b,updateForecastAnswer: выход из функции,2022-09-13 07:45:00.085556,0 days 00:00:00.016470
24412,13206,weekly_report.SS:new_users_90d:tiktok,2022-09-13 07:45:00.149492,31,weekly_report.ss,"Отдан датафрейм: (1351, 4)",818f5eeb5f0a8291e5d889efa461bc4b,JSON отправлен обратно,2022-09-13 07:45:00.102026,0 days 00:00:00.047466
44705,11224,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:36.558670,1,weekly_report.ss,"df = <class 'NoneType'>, sql_query = <class 'NoneType'>",7caa7e3d9378310a86ce7e20fc58b561,Инициализируем свойства класса,NaT,0 days 00:00:00.503848
44706,11225,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:36.563780,29,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,Начинаем получать гипермараметры и регрессоры,2022-09-14 06:07:36.558670,0 days 00:00:00.005110
44707,11226,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:36.568045,2,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,Переход в функцию getParametrsAndRegressors,2022-09-14 06:07:36.563780,0 days 00:00:00.004265
44708,11227,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:38.607248,3,weekly_report.ss,Найдено 1 строк с параметрами,7caa7e3d9378310a86ce7e20fc58b561,Выход из функции getParametrsAndRegressors с параметрами,2022-09-14 06:07:36.568045,0 days 00:00:02.039203
44709,11228,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:38.614727,5,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,Записали в свойства класса гиперпараметры и регрессоры,2022-09-14 06:07:38.607248,0 days 00:00:00.007479
44710,11229,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:38.621742,6,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,Начинаем читать данные из BQ по полученному SQL запросу,2022-09-14 06:07:38.614727,0 days 00:00:00.007015
44711,11230,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:41.385808,7,weekly_report.ss,"Получили из BQ набор данных размером: (987, 2)",7caa7e3d9378310a86ce7e20fc58b561,Получили данные из BQ по полученному SQL запросу,2022-09-14 06:07:38.621742,0 days 00:00:02.764066
44712,11231,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:41.393392,8,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,saveForecastRequest: вход в функцию,2022-09-14 06:07:41.385808,0 days 00:00:00.007584
44713,11232,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:41.403091,9,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,saveForecastRequest: выход из функции,2022-09-14 06:07:41.393392,0 days 00:00:00.009699
44714,11233,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:41.407607,10,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,getDOW: вход в функцию,2022-09-14 06:07:41.403091,0 days 00:00:00.004516
44715,11234,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.320185,25,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,getAdditionalRegressors: вход в функцию,2022-09-14 06:07:41.407607,0 days 00:00:01.912578
44716,11235,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.353247,26,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,getAdditionalRegressors: выход из функции,2022-09-14 06:07:43.320185,0 days 00:00:00.033062
44717,11236,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.358008,27,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,getForecastMarkerAsRegressor: вход в функцию,2022-09-14 06:07:43.353247,0 days 00:00:00.004761
44718,11237,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.362569,11,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,getDOW: выход из функции,2022-09-14 06:07:43.358008,0 days 00:00:00.004561
44719,11238,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.367465,12,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,getCutoffs: вход в функцию,2022-09-14 06:07:43.362569,0 days 00:00:00.004896
44720,11239,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.372360,13,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,getCutoffs: выход из функции,2022-09-14 06:07:43.367465,0 days 00:00:00.004895
44721,11240,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.376364,14,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,get_forecast: вход в функцию,2022-09-14 06:07:43.372360,0 days 00:00:00.004004
44722,11241,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.383571,18,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,Инициализируем модель Prophet,2022-09-14 06:07:43.376364,0 days 00:00:00.007207
44723,11242,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.443244,19,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,Обучаем модель на имеющихся данных,2022-09-14 06:07:43.383571,0 days 00:00:00.059673
44724,11243,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:43.890936,20,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,Выполняем прогноз временного ряда,2022-09-14 06:07:43.443244,0 days 00:00:00.447692
44725,11244,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.528890,23,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,saveForecastToCSV: вход в функцию,2022-09-14 06:07:43.890936,0 days 00:00:03.637954
44726,11245,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.582138,24,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,saveForecastToCSV: выход из функции,2022-09-14 06:07:47.528890,0 days 00:00:00.053248
44727,11246,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.588185,15,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,get_forecast: выход из функции,2022-09-14 06:07:47.582138,0 days 00:00:00.006047
44728,11247,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.594110,16,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,updateForecastAnswer: вход в функцию,2022-09-14 06:07:47.588185,0 days 00:00:00.005925
44729,11248,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.601623,17,weekly_report.ss,NaN,7caa7e3d9378310a86ce7e20fc58b561,updateForecastAnswer: выход из функции,2022-09-14 06:07:47.594110,0 days 00:00:00.007513
44730,11249,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.609898,31,weekly_report.ss,"Отдан датафрейм: (1352, 4)",7caa7e3d9378310a86ce7e20fc58b561,JSON отправлен обратно,2022-09-14 06:07:47.601623,0 days 00:00:00.008275

In [30]:
events['time_differens'] = events['request_time'] - events['previous_time']   # найдем шаг времени от предшествующего события

In [31]:
events['time_differens'].max()                                            # максимальный шаг времени от предшествующего события

Timedelta('0 days 00:01:46.548210')

In [32]:
index = events[events['time_differens']==events['time_differens'].max()].index  # найдем события между которыми максимальный шаг
index_prev = events[events['time_differens']==events['time_differens'].max()].index-1
events.loc[[int(''.join(map(str, index_prev.to_list()))), int(''.join(map(str, index.to_list())))]]

,id,forecast_marker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens
39224,5743,weekly_report.care:count_of_jivo_SA,2022-09-14 05:20:53.759918,6,weekly_report.care,NaN,4dcab2af4573ced8251fb7433174ba15,Начинаем читать данные из BQ по полученному SQL запросу,2022-09-14 05:20:53.754025,0 days 00:00:00.005893
39225,5744,weekly_report.care:count_of_jivo_SA,2022-09-14 05:22:40.308128,7,weekly_report.care,"Получили из BQ набор данных размером: (548, 2)",4dcab2af4573ced8251fb7433174ba15,Получили данные из BQ по полученному SQL запросу,2022-09-14 05:20:53.759918,0 days 00:01:46.548210

### Ответ:

между событиями с идентификаторами 6 и 7 (от начала чтения данных из BQ по полученному SQL запросу и до получения данных по этому запросу) наибольший шаг, равный 1 минута и 46 секунд и 548210 миллисекунд.

### Вопрос 2.

Интервал времени до наступления какого события показывает наибольший разброс. Укажите пару идентификатор и sender с наибольшим разбросом. Предложите свои идей, с чем это может быть связано.

In [33]:
events.head()

,id,forecast_marker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens
0,1,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,"df = <class 'NoneType'>, sql_query = <class 'NoneType'>",6f4277f6df57c4f4e90779966522c876,Инициализируем свойства класса,NaT,NaT
1,2,SelfService/RUS/turnover,2022-09-12 11:30:11.111359,29,test_system,NaN,6f4277f6df57c4f4e90779966522c876,Начинаем получать гипермараметры и регрессоры,2022-09-12 11:30:11.106628,0 days 00:00:00.004731
2,3,SelfService/RUS/turnover,2022-09-12 11:30:11.115989,2,test_system,NaN,6f4277f6df57c4f4e90779966522c876,Переход в функцию getParametrsAndRegressors,2022-09-12 11:30:11.111359,0 days 00:00:00.004630
3,4,SelfService/RUS/turnover,2022-09-12 11:30:12.761754,3,test_system,Найдено 1 строк с параметрами,6f4277f6df57c4f4e90779966522c876,Выход из функции getParametrsAndRegressors с параметрами,2022-09-12 11:30:11.115989,0 days 00:00:01.645765
4,5,SelfService/RUS/turnover,2022-09-12 11:30:12.770134,5,test_system,NaN,6f4277f6df57c4f4e90779966522c876,Записали в свойства класса гиперпараметры и регрессоры,2022-09-12 11:30:12.761754,0 days 00:00:00.008380

In [34]:
event_sender = (                                              # сгруппируем данные, найдем минимальный и максимльный шаг для 
    events.pivot_table(index = ("event_name",'sender'),       # каждой пары event_name и sender
                       values = "time_differens",
                       aggfunc = {'min','max'}).reset_index()
)
event_sender['time_delta'] = event_sender['max'] - event_sender['min']         # найдем разброс значений между min и max шагом
event_sender.loc[event_sender['time_delta'] == event_sender['time_delta'].max()]                  # найдем максимальный разброс

,event_name,sender,max,min,time_delta
911,Получили данные из BQ по полученному SQL запросу,weekly_report.care,0 days 00:01:46.548210,0 days 00:00:01.540525,0 days 00:01:45.007685

### Ответ:

Событие `Получили данные из BQ по полученному SQL запросу` c системой, поставившей задачу прогнозирования `weekly_report.care` - данная пара имеет наибольший разброс временного интервала наименьшего шага до его наступления и наибольшего.

### Исправление после ревью.

Найдем событие с наибольшим разбросом интервалов времени до его наступления в рамках одной сессии.

In [35]:
def summary(x):                                           # создадим функцию для нахождения min и max значения 'time_differens'
    result = {                                            # и их разницы
        'time_differens_min': x['time_differens'].min(),
        'time_differens_max': x['time_differens'].max(),
        'interval': x['time_differens'].max() - x['time_differens'].min()
    }
    return pd.Series(result)

In [36]:
max_interval_for_event = (                                # применим функцию к данным с группировкой по 'event_id' и 'sender'
    events.
    dropna(subset=['time_differens']).groupby(['event_id', 'sender']).
    apply(summary).
    reset_index()
)
max_interval_for_event

,event_id,sender,time_differens_min,time_differens_max,interval
0,2,DAG : bq_analytics_tables_refresh,0 days 00:00:00.003785,0 days 00:00:00.112573,0 days 00:00:00.108788
1,2,forecast_for_PHR.load_prophet_forecast_data,0 days 00:00:00.004053,0 days 00:00:00.164315,0 days 00:00:00.160262
2,2,"internal_call for Agency/turnover, session_id: 058025738e036b0ad1a76dd4f0ba156d",0 days 00:00:00.004199,0 days 00:00:00.004199,0 days 00:00:00
3,2,"internal_call for Agency/turnover, session_id: fc7b9fba27a6a9a8316b9ca264c4b5e0",0 days 00:00:00.004305,0 days 00:00:00.004305,0 days 00:00:00
4,2,"internal_call for SaaS/RUS/turnover, session_id: 834bb76830af22b925ffb5de01496a6c",0 days 00:00:00.007086,0 days 00:00:00.007086,0 days 00:00:00
...,...,...,...,...,...
911,34,weekly_report.care,0 days 00:00:01.500477,0 days 00:00:02.823654,0 days 00:00:01.323177
912,34,weekly_report.sa,0 days 00:00:01.573671,0 days 00:00:03.956669,0 days 00:00:02.382998
913,34,weekly_report.saas,0 days 00:00:01.496910,0 days 00:00:15.668156,0 days 00:00:14.171246
914,34,weekly_report.saas_monthly,0 days 00:00:01.619488,0 days 00:00:03.498565,0 days 00:00:01.879077
915,34,weekly_report.ss,0 days 00:00:01.522644,0 days 00:00:15.631917,0 days 00:00:14.109273

In [37]:
max_interval_for_event[max_interval_for_event['interval']==max_interval_for_event['interval'].max()]     # найдем max интервал

,event_id,sender,time_differens_min,time_differens_max,interval
140,7,weekly_report.care,0 days 00:00:01.540525,0 days 00:01:46.548210,0 days 00:01:45.007685

### Ответ:

Пара - событие с идентификатором 7 (Получили данные из BQ по полученному SQL запросу) и имя системы поставившей задачу прогнозирования `weekly_report.care` имеют наибольший разброс интервала времени до наступления события. Для получения данных с помощью SQL запроса может понадобится разное количество времени, в зависимости от объема получаемых данных и от сложности запроса.

### Вопрос 3.
Какая задача прогнозирования выполняется дольше всего (название задачи)?

In [38]:
forecast_marker_duration = (                 # найдем запущенные задачи, которыые были завершены, отсортируем по датам событий
    events.query('event_id == 1').
    append(events.query('event_id == 31')).
    sort_values(by='request_time')
)

In [39]:
forecast_marker_duration['d'] = 0            # создадим новый столбец

In [40]:
for id in forecast_marker_duration['forecast_marker'].unique():          # добавим в новый столбце даты предшествующих событий
    first = True
    for i in forecast_marker_duration.query('forecast_marker == @id').index:
        if first:
            first = False
            forecast_marker_duration.loc[i, 'd'] = np.nan
        else:
            forecast_marker_duration.loc[i, 'd'] = forecast_marker_duration.loc[i_prev, 'request_time']
        i_prev = i

In [41]:
forecast_marker_duration

,id,forecast_marker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens,d
0,1,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,"df = <class 'NoneType'>, sql_query = <class 'NoneType'>",6f4277f6df57c4f4e90779966522c876,Инициализируем свойства класса,NaT,NaT,NaN
13,14,SelfService/RUS/activation,2022-09-12 11:30:18.666983,1,"internal_call for SelfService/RUS/turnover, session_id: 6f4277f6df57c4f4e90779966522c876","df = <class 'NoneType'>, sql_query = <class 'NoneType'>",ba9c7ee046c9fbdc0c8713c86409bdc3,Инициализируем свойства класса,NaT,NaT,NaN
42,43,SelfService/RUS/activation,2022-09-12 11:30:29.936695,31,"internal_call for SelfService/RUS/turnover, session_id: 6f4277f6df57c4f4e90779966522c876","Отдан датафрейм: (1350, 4)",ba9c7ee046c9fbdc0c8713c86409bdc3,JSON отправлен обратно,2022-09-12 11:30:29.929135,0 days 00:00:00.007560,2022-09-12 11:30:18.666983
60,61,SelfService/RUS/turnover,2022-09-12 11:30:36.249818,31,test_system,"Отдан датафрейм: (2080, 4)",6f4277f6df57c4f4e90779966522c876,JSON отправлен обратно,2022-09-12 11:30:36.239895,0 days 00:00:00.009923,2022-09-12 11:30:11.106628
61,62,NaN,2022-09-12 12:13:46.808490,1,bq_analytics_tables_refresh,"df = <class 'NoneType'>, sql_query = <class 'str'>",f425376c334840a59b585165f9ca87dc,Инициализируем свойства класса,NaT,NaT,0.0
...,...,...,...,...,...,...,...,...,...,...,...
44678,11197,weekly_report.SS:new_users_90d:vkontakte,2022-09-14 06:07:26.420862,31,weekly_report.ss,"Отдан датафрейм: (1352, 4)",58cf6093f01da7f06a5b55580ba80795,JSON отправлен обратно,2022-09-14 06:07:26.413730,0 days 00:00:00.007132,2022-09-14 06:07:16.204119
44679,11198,weekly_report.SS:new_users_90d:mytarget,2022-09-14 06:07:26.921552,1,weekly_report.ss,"df = <class 'NoneType'>, sql_query = <class 'NoneType'>",c65e04642c4d3a742f78976fadc93f7e,Инициализируем свойства класса,NaT,NaT,2022-09-13 07:44:48.273746
44704,11223,weekly_report.SS:new_users_90d:mytarget,2022-09-14 06:07:36.054822,31,weekly_report.ss,"Отдан датафрейм: (1352, 4)",c65e04642c4d3a742f78976fadc93f7e,JSON отправлен обратно,2022-09-14 06:07:36.047964,0 days 00:00:00.006858,2022-09-14 06:07:26.921552
44705,11224,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:36.558670,1,weekly_report.ss,"df = <class 'NoneType'>, sql_query = <class 'NoneType'>",7caa7e3d9378310a86ce7e20fc58b561,Инициализируем свойства класса,NaT,NaT,2022-09-13 07:45:00.149492
44730,11249,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.609898,31,weekly_report.ss,"Отдан датафрейм: (1352, 4)",7caa7e3d9378310a86ce7e20fc58b561,JSON отправлен обратно,2022-09-14 06:07:47.601623,0 days 00:00:00.008275,2022-09-14 06:07:36.558670

In [42]:
forecast_marker_duration_31 = (                          # найдем интервалы времени от запуска задачи до ее завершения
    forecast_marker_duration.
    query('event_id == 31').
    dropna(subset=['forecast_marker'])
)
forecast_marker_duration_31['d'] = (
    pd.to_datetime(forecast_marker_duration_31['d'])
)
forecast_marker_duration_31['time_differens'] = (
    forecast_marker_duration_31['request_time'] - forecast_marker_duration_31['d']
)

In [43]:
forecast_marker_max_duration = (                   # найдем задачу с максимальным интервалом от запуска задачи до ее завершения
    forecast_marker_duration_31.
    query('event_id == 31')
)
(
    forecast_marker_max_duration.
    loc[forecast_marker_max_duration['time_differens'] == forecast_marker_max_duration['time_differens'].
        max()]
)

,id,forecast_marker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens,d
39244,5763,weekly_report.care:count_of_jivo_SA,2022-09-14 05:22:44.688175,31,weekly_report.care,"Отдан датафрейм: (913, 4)",4dcab2af4573ced8251fb7433174ba15,JSON отправлен обратно,2022-09-14 05:22:44.681158,0 days 00:01:52.484473,2022-09-14 05:20:52.203702

### Ответ:

Задача прогнозирования `weekly_report.care:count_of_jivo_SA` выполняется дольше всего, длительность составляет 1 минуту 52 секунды 484473 миллисекунд.

### Вопрос 4.
Какое количество задач прогнозирования могут выполняться одновременно? Укажите максимальное число параллельных задач.

In [44]:
forecast_marker_duration_31 = forecast_marker_duration_31.sort_values(by='d')          # отсортируем по дате запуска задачи

In [45]:
def maximumOverlap(tasks):                            # создадим функцию для подсчета максимального числа параллельных задач
    times = []
    for task in tasks:
        startTime, endTime = task
        times.append((startTime, 'start'))
        times.append((endTime, 'end'))
    times = sorted(times)

    count = 0
    maxCount = 0
    for time in times:
        if time[1] == 'start':
            count += 1    # increment on arrival/start
        else:
            count -= 1    # decrement on departure/end
        maxCount = max(count, maxCount)  # maintain maximum
    return maxCount

zipped = zip(forecast_marker_duration_31['d'].to_list(), forecast_marker_duration_31['request_time'].to_list())
zipped                                       # передадим в функцию диапазоны с датой и временем запуска задач и их завершения
tasks = zipped
print('Максимальное число параллельных задач равно', maximumOverlap(tasks))

Максимальное число параллельных задач равно 5

### Ответ:

В определенный промежуток времени 5 задач прогнозирования выполняются одновременно.

### Вопрос 5.
Перечислите forecast_marker которые не завершились успешно

In [46]:
len(events.loc[events['event_id'] == 1])                                     # всего запущено задач

1599

In [47]:
len(events.loc[events['event_id'] == 31])                                    # всего завершено задач

1594

In [48]:
d=[]                                                                          # список запущеных и незавершенных задач
for i in events['forecast_marker'].unique():
    if len(events.loc[(events['forecast_marker'] == i) & (events['event_id'] == 1)])\
    - len(events.loc[(events['forecast_marker'] == i) & (events['event_id'] == 31)]) > 0:
        d.append(i)
d

['weekly_report.SAAS:turnover',
 'weekly_report.SAAS:new_visitors',
 'weekly_report.SAAS:new_visitors:utm_medium:organic',
 'SaaS/RUS/turnover/targetMailRu']

### Исправление после ревью.

In [49]:
f=[]                                                                   # список запущеных и незавершенных задач по 'session_id'
for j in events['session_id'].unique():
    if len(events.loc[(events['session_id'] == j) & (events['event_id'] == 1)])\
    - len(events.loc[(events['session_id'] == j) & (events['event_id'] == 31)]) > 0:
        f.append(j)

In [50]:
df = pd.DataFrame(f)                                                   # создадим датафрейм с ключами задач и их наименованиями
df.columns = ['session_id']
df.merge(events[['session_id', 'forecast_marker']].drop_duplicates())

,session_id,forecast_marker
0,56af71228bfbb91afd00a04652646069,NaN
1,ef2ce869aedbddee01530295d44a5993,weekly_report.SAAS:new_visitors
2,05fde45de80ea82b620d924acf35410c,SaaS/RUS/turnover/targetMailRu
3,9dd140e965fe9c98656a0d0e405aa1e8,weekly_report.SAAS:turnover
4,56e957cb0972c856c211dfed092dc8c2,weekly_report.SAAS:new_visitors:utm_medium:organic

### Ответ:

Задачи прогнозирования:
* ``weekly_report.SAAS:turnover``,
* ``weekly_report.SAAS:new_visitors``,
* ``weekly_report.SAAS:new_visitors:utm_medium:organic``,
* ``SaaS/RUS/turnover/targetMailRu``
* ``None``

не были завершены успешно