**Исполнитель - Климентьева Наталья**

In [1]:
import pandas as pd
import sqlite3
from sqlite3 import Error
import numpy as np


def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [2]:
connection12 = create_connection("logs_2022-09-12.db")
connection13 = create_connection("logs_2022-09-13.db")
connection14 = create_connection("logs_2022-09-14.db")

Connection to SQLite DB successful
Connection to SQLite DB successful
Connection to SQLite DB successful

In [3]:
cursor12 = connection12.cursor()
cursor13 = connection13.cursor()
cursor14 = connection14.cursor()

In [4]:
cursor12.execute("SELECT * FROM event_name")
cursor13.execute("SELECT * FROM event_name")
cursor14.execute("SELECT * FROM event_name")

In [5]:
results12 = cursor12.fetchall()
#results13 = cursor13.fetchall()
#results14 = cursor14.fetchall()

In [6]:
results12 = pd.DataFrame(results12)
#results13 = pd.DataFrame(results13)
#results14 = pd.DataFrame(results14)

In [7]:
results12.columns = ['event_id','event_name']
results12

    event_id                                         event_name
0          1                     Инициализируем свойства класса
1          2        Переход в функцию getParametrsAndRegressors
2          3  Выход из функции getParametrsAndRegressors с п...
3          4  Выход из функции getParametrsAndRegressors БЕЗ...
4          5  Записали в свойства класса гиперпараметры и ре...
5          6  Начинаем читать данные из BQ по полученному SQ...
6          7   Получили данные из BQ по полученному SQL запросу
7          8                saveForecastRequest: вход в функцию
8          9              saveForecastRequest: выход из функции
9         10                             getDOW: вход в функцию
10        11                           getDOW: выход из функции
11        12                         getCutoffs: вход в функцию
12        13                       getCutoffs: выход из функции
13        14                       get_forecast: вход в функцию
14        15                     get_forecast: выход из функции
15        16               updateForecastAnswer: вход в функцию
16        17             updateForecastAnswer: выход из функции
17        18                      Инициализируем модель Prophet
18        19                 Обучаем модель на имеющихся данных
19        20                  Выполняем прогноз временного ряда
20        21                get_error_for_model: вход в функцию
21        22              get_error_for_model: выход из функции
22        23                  saveForecastToCSV: вход в функцию
23        24                saveForecastToCSV: выход из функции
24        25            getAdditionalRegressors: вход в функцию
25        26          getAdditionalRegressors: выход из функции
26        27       getForecastMarkerAsRegressor: вход в функцию
27        28     getForecastMarkerAsRegressor: выход из функции
28        29      Начинаем получать гипермараметры и регрессоры
29        30            Пустой набор данных для прогнозирования
30        31                             JSON отправлен обратно
31        32      get_error_for_model: импортировали библиотеки
32        33       get_error_for_model: прошли cross_validation
33        34  get_error_for_model: получили performance_metrics

In [8]:
cursor12.execute("SELECT * FROM events")
cursor13.execute("SELECT * FROM events")
cursor14.execute("SELECT * FROM events")

events12 = cursor12.fetchall()
events13 = cursor13.fetchall()
events14 = cursor14.fetchall()

In [9]:
events_12 = pd.DataFrame(events12)
events_13 = pd.DataFrame(events13)
events_14 = pd.DataFrame(events14)

In [10]:
cursor12.close()
cursor13.close()
cursor14.close()

In [11]:
events = events_12.append(events_13, ignore_index=True)
events = events.append(events_14, ignore_index=True)

In [12]:
events.columns = ['id','forecastMarker','request_time','event_id','sender','context','session_id']

In [13]:
events

,id,forecastMarker,request_time,event_id,sender,context,session_id
0,1,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,"df = <class 'NoneType'>, sql_query = <class 'N...",6f4277f6df57c4f4e90779966522c876
1,2,SelfService/RUS/turnover,2022-09-12 11:30:11.111359,29,test_system,None,6f4277f6df57c4f4e90779966522c876
2,3,SelfService/RUS/turnover,2022-09-12 11:30:11.115989,2,test_system,None,6f4277f6df57c4f4e90779966522c876
3,4,SelfService/RUS/turnover,2022-09-12 11:30:12.761754,3,test_system,Найдено 1 строк с параметрами,6f4277f6df57c4f4e90779966522c876
4,5,SelfService/RUS/turnover,2022-09-12 11:30:12.770134,5,test_system,None,6f4277f6df57c4f4e90779966522c876
...,...,...,...,...,...,...,...
44726,11245,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.582138,24,weekly_report.ss,None,7caa7e3d9378310a86ce7e20fc58b561
44727,11246,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.588185,15,weekly_report.ss,None,7caa7e3d9378310a86ce7e20fc58b561
44728,11247,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.594110,16,weekly_report.ss,None,7caa7e3d9378310a86ce7e20fc58b561
44729,11248,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.601623,17,weekly_report.ss,None,7caa7e3d9378310a86ce7e20fc58b561
44730,11249,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.609898,31,weekly_report.ss,"Отдан датафрейм: (1352, 4)",7caa7e3d9378310a86ce7e20fc58b561

Мы получили объедининенную таблицу логов событий за три дня - 12,13 и 14 сентября 2022 года.

Напомним содержание столбцов:

* ``id`` - идентификатор конкретного факта наступления события
* ``forecastMarker`` - идентификатор задачи прогнозирования (так мы называем общую задачу прогноза конкретного бизнес-показателя. Есть отдельная таблица, где хранятся свойства задач прогнозирования (источники данных, гиперпараметры, регрессоры и т.д.), (необязательное поле)
* ``request_time`` - время когда зафиксировано событие
* ``event_id`` - идентификатор события
* ``sender`` - Имя системы поставившей задачу прогнозирования (необязательное поле)
* ``context`` - значения переменных или каких-либо параметров, связанных с событием (необязательно поле)
* ``session_id`` - идентификатор исполнения конкретной задачи прогнозирования (используется если задача пришла без forecastMarker и sender)

In [14]:
events = events.merge(results12) # добавим наименование событий в общую таблицу

In [15]:
for i in ('forecastMarker', 'sender', 'context'):
    events.loc[events[i] == "None", i] = np.nan

In [16]:
events.head()

,id,forecastMarker,request_time,event_id,sender,context,session_id,event_name
0,1,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,"df = <class 'NoneType'>, sql_query = <class 'N...",6f4277f6df57c4f4e90779966522c876,Инициализируем свойства класса
1,14,SelfService/RUS/activation,2022-09-12 11:30:18.666983,1,"internal_call for SelfService/RUS/turnover, se...","df = <class 'NoneType'>, sql_query = <class 'N...",ba9c7ee046c9fbdc0c8713c86409bdc3,Инициализируем свойства класса
2,62,NaN,2022-09-12 12:13:46.808490,1,bq_analytics_tables_refresh,"df = <class 'NoneType'>, sql_query = <class 's...",f425376c334840a59b585165f9ca87dc,Инициализируем свойства класса
3,90,NaN,2022-09-12 12:14:04.816840,1,bq_analytics_tables_refresh,"df = <class 'NoneType'>, sql_query = <class 's...",58e407a7bc512bc4b282457c05893ebc,Инициализируем свойства класса
4,119,NaN,2022-09-12 12:14:19.332540,1,bq_analytics_tables_refresh,"df = <class 'NoneType'>, sql_query = <class 's...",7c25b8a1058e6c036c443b8cd6dd8c69,Инициализируем свойства класса

In [17]:
events.isna().sum()

id                    0
forecastMarker     4139
request_time          0
event_id              0
sender              424
context           38575
session_id            0
event_name            0
dtype: int64

In [18]:
events.drop(columns = ['id'], axis = 1).duplicated().sum()

0

Мы выявили пропущенные значения, теперь изучим типы данных, и приведем к нужным при необходимости. Дубликатов не выявлено.

In [19]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44731 entries, 0 to 44730
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              44731 non-null  int64
 1   forecastMarker  40592 non-null  object
 2   request_time    44731 non-null  object
 3   event_id        44731 non-null  int64
 4   sender          44307 non-null  object
 5   context         6156 non-null   object
 6   session_id      44731 non-null  object
 7   event_name      44731 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.1+ MB

In [20]:
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import numpy as np
import warnings
warnings.filterwarnings("ignore")

## Необходимо ответить на вопросы

1. Между какими событиями наибольший шаг? Укажите пару идентификаторов событий с наибольшим шагом, относительно всей базы (всех файлов).
2. Интервал времени до наступления какого события показывает наибольший разброс. Укажите пару идентификатор и sender с наибольшим разбросом. Предложите свои идей, с чем это может быть связано.
3. Какая задача прогнозирования выполняется дольше всего (название задачи)?
4. Какое количество задач прогнозирования могут выполняться одновременно? Укажите максимальное число параллельных задач.
5. Перечислите forecastMarker которые не завершились успешно

Важно отметить:
1. Первое событие для каждой сессии имеет идентификатор 1. Идентификаторы последующих событий не соответствуют последовательности наступления.
2. Шаг событий - это интервал времени между событиями наступающими друг за другом.
3. Задача прогнозирования считается завершенной успешно, если наступило событие с идентификатором 31.
4. Некоторые задачи прогнозирования могут использовать прогнозы по типу рекурсии. Т.е. при построении прогноза запрашивать прогноз другого параметра, как регрессора. Например при построении прогноза активаций пользователей запрашивается подпрогноз с количеством регистраций. Т.к. регистрации напрямую влияют на количество активаций.

### Вопрос 1.

Между какими событиями наибольший шаг? Укажите пару идентификаторов событий с наибольшим шагом, относительно всей базы (всех файлов).

In [21]:
events = events.sort_values(by='request_time').reset_index(drop=True)

In [22]:
first = True
for i in events.index:
    if first:
        first = False
        events.loc[i, 'previous_time'] = np.nan
    else:
        events.loc[i, 'previous_time'] = events.loc[i_prev, 'request_time']
    i_prev = i

In [23]:
events['request_time'] = pd.to_datetime(events['request_time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')
events['previous_time'] = pd.to_datetime(events['previous_time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')

In [24]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44731 entries, 0 to 44730
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              44731 non-null  int64
 1   forecastMarker  40592 non-null  object
 2   request_time    44731 non-null  datetime64[ns]
 3   event_id        44731 non-null  int64
 4   sender          44307 non-null  object
 5   context         6156 non-null   object
 6   session_id      44731 non-null  object
 7   event_name      44731 non-null  object
 8   previous_time   44730 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(5)
memory usage: 3.1+ MB

In [25]:
events['time_differens'] = events['request_time'] - events['previous_time']

In [26]:
events[events['time_differens']==events['time_differens'].max()]

,id,forecastMarker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens
33482,1,NaN,2022-09-14 00:09:39.234361,1,NaN,"df = <class 'pandas.core.frame.DataFrame'>, sq...",ec6a82e4a1b9b4dc467639eb1a5d6987,Инициализируем свойства класса,2022-09-13 09:41:15.078643,0 days 14:28:24.155718

In [27]:
events.loc[[33481, 33482]]

,id,forecastMarker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens
33481,22275,weekly_report.SS:no_segment_users,2022-09-13 09:41:15.078643,31,test.weekly_report.ss,"Отдан датафрейм: (895, 4)",d637d1b6d2b70fd088e2ea44959483cb,JSON отправлен обратно,2022-09-13 09:41:15.071837,0 days 00:00:00.006806
33482,1,NaN,2022-09-14 00:09:39.234361,1,NaN,"df = <class 'pandas.core.frame.DataFrame'>, sq...",ec6a82e4a1b9b4dc467639eb1a5d6987,Инициализируем свойства класса,2022-09-13 09:41:15.078643,0 days 14:28:24.155718

### Ответ:

между событиями с идентификаторами 31 и 1 наибольший шаг, равный 14 часов 28 минут и 24 секунды.

### Вопрос 2.

Интервал времени до наступления какого события показывает наибольший разброс. Укажите пару идентификатор и sender с наибольшим разбросом. Предложите свои идей, с чем это может быть связано.

In [28]:
events.head()

,id,forecastMarker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens
0,1,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,"df = <class 'NoneType'>, sql_query = <class 'N...",6f4277f6df57c4f4e90779966522c876,Инициализируем свойства класса,NaT,NaT
1,2,SelfService/RUS/turnover,2022-09-12 11:30:11.111359,29,test_system,NaN,6f4277f6df57c4f4e90779966522c876,Начинаем получать гипермараметры и регрессоры,2022-09-12 11:30:11.106628,0 days 00:00:00.004731
2,3,SelfService/RUS/turnover,2022-09-12 11:30:11.115989,2,test_system,NaN,6f4277f6df57c4f4e90779966522c876,Переход в функцию getParametrsAndRegressors,2022-09-12 11:30:11.111359,0 days 00:00:00.004630
3,4,SelfService/RUS/turnover,2022-09-12 11:30:12.761754,3,test_system,Найдено 1 строк с параметрами,6f4277f6df57c4f4e90779966522c876,Выход из функции getParametrsAndRegressors с п...,2022-09-12 11:30:11.115989,0 days 00:00:01.645765
4,5,SelfService/RUS/turnover,2022-09-12 11:30:12.770134,5,test_system,NaN,6f4277f6df57c4f4e90779966522c876,Записали в свойства класса гиперпараметры и ре...,2022-09-12 11:30:12.761754,0 days 00:00:00.008380

In [29]:
event_sender = (
    events.pivot_table(index = ("event_name",'sender'),
                       values = "time_differens",
                       aggfunc = {'min','max'}).reset_index()
)
event_sender['time_delta'] = event_sender['max'] - event_sender['min']
event_sender.loc[event_sender['time_delta'] == event_sender['time_delta'].max()]

,event_name,sender,max,min,time_delta
797,Инициализируем свойства класса,weekly_report.saas_monthly,0 days 04:37:57.839631,0 days 00:00:00.180591,0 days 04:37:57.659040

### Ответ:

Событие `Инициализируем свойства класса` c системой, поставившей задачу прогнозирования `weekly_report.saas_monthly` - данная пара имеет наибольший разброс временного интервала наименьшего шага до его наступления и наибольшего. Это может быть связано с тем, что инициализация свойства класса - первое событие при запуске задачи прогнозирования, возможно в течение более четырех часов не было запущенных задач.

### Вопрос 3.
Какая задача прогнозирования выполняется дольше всего (название задачи)?

In [30]:
forecastMarker_duration = events.query('event_id == 1').append(events.query('event_id == 31')).sort_values(by='request_time')

In [31]:
forecastMarker_duration['d'] = 0

In [32]:
for id in forecastMarker_duration['forecastMarker'].unique():
    first = True
    for i in forecastMarker_duration.query('forecastMarker == @id').index:
        if first:
            first = False
            forecastMarker_duration.loc[i, 'd'] = np.nan
        else:
            forecastMarker_duration.loc[i, 'd'] = forecastMarker_duration.loc[i_prev, 'request_time']
        i_prev = i

In [33]:
forecastMarker_duration

,id,forecastMarker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens,d
0,1,SelfService/RUS/turnover,2022-09-12 11:30:11.106628,1,test_system,"df = <class 'NoneType'>, sql_query = <class 'N...",6f4277f6df57c4f4e90779966522c876,Инициализируем свойства класса,NaT,NaT,NaN
13,14,SelfService/RUS/activation,2022-09-12 11:30:18.666983,1,"internal_call for SelfService/RUS/turnover, se...","df = <class 'NoneType'>, sql_query = <class 'N...",ba9c7ee046c9fbdc0c8713c86409bdc3,Инициализируем свойства класса,2022-09-12 11:30:18.659114,0 days 00:00:00.007869,NaN
42,43,SelfService/RUS/activation,2022-09-12 11:30:29.936695,31,"internal_call for SelfService/RUS/turnover, se...","Отдан датафрейм: (1350, 4)",ba9c7ee046c9fbdc0c8713c86409bdc3,JSON отправлен обратно,2022-09-12 11:30:29.929135,0 days 00:00:00.007560,2022-09-12 11:30:18.666983
60,61,SelfService/RUS/turnover,2022-09-12 11:30:36.249818,31,test_system,"Отдан датафрейм: (2080, 4)",6f4277f6df57c4f4e90779966522c876,JSON отправлен обратно,2022-09-12 11:30:36.239895,0 days 00:00:00.009923,2022-09-12 11:30:11.106628
61,62,NaN,2022-09-12 12:13:46.808490,1,bq_analytics_tables_refresh,"df = <class 'NoneType'>, sql_query = <class 's...",f425376c334840a59b585165f9ca87dc,Инициализируем свойства класса,2022-09-12 11:30:36.249818,0 days 00:43:10.558672,0.0
...,...,...,...,...,...,...,...,...,...,...,...
44678,11197,weekly_report.SS:new_users_90d:vkontakte,2022-09-14 06:07:26.420862,31,weekly_report.ss,"Отдан датафрейм: (1352, 4)",58cf6093f01da7f06a5b55580ba80795,JSON отправлен обратно,2022-09-14 06:07:26.413730,0 days 00:00:00.007132,2022-09-14 06:07:16.204119
44679,11198,weekly_report.SS:new_users_90d:mytarget,2022-09-14 06:07:26.921552,1,weekly_report.ss,"df = <class 'NoneType'>, sql_query = <class 'N...",c65e04642c4d3a742f78976fadc93f7e,Инициализируем свойства класса,2022-09-14 06:07:26.420862,0 days 00:00:00.500690,2022-09-13 07:44:48.273746
44704,11223,weekly_report.SS:new_users_90d:mytarget,2022-09-14 06:07:36.054822,31,weekly_report.ss,"Отдан датафрейм: (1352, 4)",c65e04642c4d3a742f78976fadc93f7e,JSON отправлен обратно,2022-09-14 06:07:36.047964,0 days 00:00:00.006858,2022-09-14 06:07:26.921552
44705,11224,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:36.558670,1,weekly_report.ss,"df = <class 'NoneType'>, sql_query = <class 'N...",7caa7e3d9378310a86ce7e20fc58b561,Инициализируем свойства класса,2022-09-14 06:07:36.054822,0 days 00:00:00.503848,2022-09-13 07:45:00.149492
44730,11249,weekly_report.SS:new_users_90d:tiktok,2022-09-14 06:07:47.609898,31,weekly_report.ss,"Отдан датафрейм: (1352, 4)",7caa7e3d9378310a86ce7e20fc58b561,JSON отправлен обратно,2022-09-14 06:07:47.601623,0 days 00:00:00.008275,2022-09-14 06:07:36.558670

In [34]:
forecastMarker_duration_31 = forecastMarker_duration.query('event_id == 31').dropna(subset=['forecastMarker'])
forecastMarker_duration_31['d'] = pd.to_datetime(forecastMarker_duration_31['d'])
forecastMarker_duration_31['time_differens'] = forecastMarker_duration_31['request_time'] - forecastMarker_duration_31['d']

In [35]:
forecastMarker_max_duration = forecastMarker_duration_31.query('event_id == 31')
(
    forecastMarker_max_duration.
    loc[forecastMarker_max_duration['time_differens'] == forecastMarker_max_duration['time_differens'].
        max()]
)

,id,forecastMarker,request_time,event_id,sender,context,session_id,event_name,previous_time,time_differens,d
39244,5763,weekly_report.care:count_of_jivo_SA,2022-09-14 05:22:44.688175,31,weekly_report.care,"Отдан датафрейм: (913, 4)",4dcab2af4573ced8251fb7433174ba15,JSON отправлен обратно,2022-09-14 05:22:44.681158,0 days 00:01:52.484473,2022-09-14 05:20:52.203702

### Ответ:

Задача прогнозирования `weekly_report.care:count_of_jivo_SA` выполняется дольше всего, длительность составляет 1 минуту 52 секунды 484473 миллисекунд.

### Вопрос 4.
Какое количество задач прогнозирования могут выполняться одновременно? Укажите максимальное число параллельных задач.

In [36]:
forecastMarker_duration_31 = forecastMarker_duration_31.sort_values(by='d')

In [37]:
def maximumOverlap(tasks):
    times = []
    for task in tasks:
        startTime, endTime = task
        times.append((startTime, 'start'))
        times.append((endTime, 'end'))
    times = sorted(times)

    count = 0
    maxCount = 0
    for time in times:
        if time[1] == 'start':
            count += 1    # increment on arrival/start
        else:
            count -= 1    # decrement on departure/end
        maxCount = max(count, maxCount)  # maintain maximum
    return maxCount

zipped = zip(forecastMarker_duration_31['d'].to_list(), forecastMarker_duration_31['request_time'].to_list())
zipped
tasks = zipped
print('Максимальное число параллельных задач равно', maximumOverlap(tasks))

Максимальное число параллельных задач равно 5

### Ответ:

В определенный промежуток времени 5 задач прогнозирования выполняются одновременно.

### Вопрос 5.
Перечислите forecastMarker которые не завершились успешно

In [38]:
len(events.loc[events['event_id'] == 1])

1599

In [39]:
len(events.loc[events['event_id'] == 31])

1594

In [40]:
d=[]
for i in events['forecastMarker'].unique():
    if len(events.loc[(events['forecastMarker'] == i) & (events['event_id'] == 1)])\
    - len(events.loc[(events['forecastMarker'] == i) & (events['event_id'] == 31)]) > 0:
        d.append(i)
d

['weekly_report.SAAS:turnover',
 'weekly_report.SAAS:new_visitors',
 'weekly_report.SAAS:new_visitors:utm_medium:organic',
 'SaaS/RUS/turnover/targetMailRu']

### Ответ:

Задачи прогнозирования:
* ``weekly_report.SAAS:turnover``,
* ``weekly_report.SAAS:new_visitors``,
* ``weekly_report.SAAS:new_visitors:utm_medium:organic``,
* ``SaaS/RUS/turnover/targetMailRu``

не были завершены успешно